@import "tailwindcss";

@theme {
  --color-background-light: #f5f5f5;
  --color-background-dark: #0d1117;
  --color-background-darker: #010409;
  --color-background-panel: #161b22;
  --color-sidebar-light: #fafbfc;
  --color-sidebar-dark: #0d1117;
  --color-input-dark: #0d1117;
  --color-border-dark: #30363d;
  --color-primary: #5e42fe;
  
  --font-display: "Space Grotesk", sans-serif;
  --font-heading: "Bricolage Grotesque", sans-serif;
  --font-mono: "Fira Code", monospace;
}

body {
  font-family: var(--font-display);
}
